%ul.pf__nav
  %li.pf__nav__principle
    = link_to contact_path, class: "pf__nav__principle__text" do
      %i.far.fa-comments
      PROFILE
%ul.pf__nav
  %li.pf__nav__works
    = link_to work_path, class: "pf__nav__works__text" do
      %i.fas.fa-desktop
      WORKS
  %li.pf__nav__principle
    = link_to root_path, class: "pf__nav__principle__text" do
      %i.fas.fa-backward
      TOP
.contact
  .contact__wrap
    .contact__wrap__pic
      = image_tag "メイ.jpg", class: "pf__slider__create__img"
    %ul.contact__wrap__text
      %li.contact__wrap__text__top
        ウェブエンジニア teratti
      %li.contact__wrap__text__top
        2004年から新卒で15年勤めた運送会社を辞め
      %li.contact__wrap__text__top
        tech::expertの短期集中コースを受講 64期卒業
      %li.contact__wrap__text__top
        6人の子供を持つビッグダディ
      %li.contact__wrap__text__top
        事業内容： Ruby, Ruby on rails, HTML haml, CSS scss,
      %li.contact__wrap__text__top
        javascript, jquery, github, AWS, mysql 等の技術を用いた複合的機能の企画・実装
      %li.contact__wrap__text__top
        ーーーーーーーーーーーーーーーー
      %li.contact__wrap__text__top
        address:東京都 & 熊本県
      %li.contact__wrap__text__top
        contact:

