%ul.pf__nav
  %li.pf__nav__works
    .pf__nav__works__text
      %i.fas.fa-desktop
      DETAIL
%ul.pf__nav
  %li.pf__nav__works
    = link_to work_path, class: "pf__nav__works__text" do
      %i.fas.fa-desktop
      WORKS
  %li.pf__nav__principle
    = link_to contact_path, class: "pf__nav__principle__text" do
      %i.far.fa-comments
      PROFILE
.pic
  %ul.pic__slider
    %li.pic__slider__works
      =link_to "http://52.68.71.170/", class: ".pic__slider__works__path" do
        = image_tag 'free.png', height: '400px', width: '600px'
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fas.fa-project-diagram
      プログラム（プロジェクト）名
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    free-market
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fas.fa-list-ul
      プログラムの概要やビジュアル（UI）の紹介
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    ユーザー登録 商品の出品・購入 カード決済(テスト)
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fas.fa-user-alt
      クライアント名
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    なし
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fab.fa-product-hunt
      製作時期と製作期間
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    2019/12/6 ~ 2019/12/26
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fas.fa-bullseye
      プログラムの目的
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    サーバーサイド・フロントエンド・デプロイなどの一連の流れの理解。知識を深めるため
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fas.fa-cube
      プログラムのコンセプト
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    なし
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.far.fa-comment-dots
      クライアントの要求事項や設計仕様
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    某商品購入サイトを一から全く同じように作ること
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fab.fa-github
      使用言語や仕様ソフト、開発環境の紹介
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    Ruby/ Rails/ haml/ scss/ js/ jquery/ mysql/ aws/
%ul.detail__nav
  %li.detail__nav__works
    .detail__nav__works__text
      %i.fas.fa-arrows-alt
      チームで作成した場合は自分の担当箇所やポジションの紹介
.answer
  .answer__text
    %i.far.fa-arrow-alt-circle-right
    フロントエンド全て 商品の一覧表示 カード決済機能 ページ間の連動性
.listing-wrap
  = link_to "http://52.68.71.170/", class: "listing-wrap__link" do
    .listing-wrap__link__box
      .listing-wrap__link__box__text
        作品を見る
      .listing-wrap__link__box__img
        %i.fas.fa-seedling
%ul.pf__nav
  %li.pf__nav__works
    .pf__nav__works__text
      %i.fas.fa-desktop
      DETAIL