.pf
  %ul.pf__slider
    %li.pf__slider__head
      .pf__slider__head__text
        TATSUYA TERAMURA
        %br
        〜Exciting in shape〜
    %li.pf__slider__create
      = image_tag "/assets/images/エンジニア１.jpeg", class: "pf__slider__create__img"
    %li.pf__slider__creativ
      = image_tag "/assets/images/エンジニア２.jpeg", class: "pf__slider__creativ__img"
  %ul.pf__nav
    %li.pf__nav__works
      = link_to work_path, class: "pf__nav__works__text" do
        %i.fas.fa-desktop
        WORKS
    %li.pf__nav__principle
      = link_to contact_path, class: "pf__nav__principle__text" do
        %i.far.fa-comments
        PROFILE
  %ul.pf__body
    %li.pf__body__text1
      WEB Engineer
    %li.pf__body__text2
      創造力
    %li.pf__body__text3
      想像力

