.listing-wrap {
  font-size: 22px;
  position: fixed;
  right: 28px;
  bottom: 35px;
  text-align: center;
  z-index: 2;
  &__link {
    color: inherit;
    text-decoration: none;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &__box {
      width: 160px;
      height: 120px;
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
      background-color: limegreen;
      border-radius: 30%;
      &__text {
        font-size: 22px;
        color: rgb(255, 255, 255);
      }
      &__img {
        width: 60px;
        height: 54px;
        margin-top: 8px;
        max-width: 100%;
        max-height: 100%;
        color: rgb(255, 255, 255);
        display: block;
        margin: 5px auto 0px;
        font-size: 60px;
      }
    }
  }
}
.pic__slider__works__text {
  text-decoration: none;
}
.answer {
  line-height: 40px;
  &__text {
    font-size: 15px;
    width: 75%;
    margin: 0 auto;
    background-color: #e4e3e3;
    font-family: monospace;
  }
}
.detail {
  &__nav {
    width: 75%;
    margin: 0 auto;
    background-color: gold;
    height: 36px;
    &__works {
      margin-top: 10px;
      &__text {
        font-family: 'Varela Round', sans-serif;
        color: brown;
        font-size: 20px;
      }
    }
  }
}